.search {
    background: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.img-logo {
    background-color:rgb(44, 120, 207);
}
.search__line {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    color: #f2f2f2;
}
.header-nav__menu {
    display: flex;
    flex-direction: row;
}
.header-nav__menu-item {
    text-decoration: none;
    color:#333333;
}
.header-nav__menu-item:hover {
    text-decoration: underline;
}

.header__nav {
           
}
 
.search {
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 500px); {
    .header__nav {
        display: flex;
    }
}