@import url(common.css);
@import url(headers.css);
@import url(main.css);
@import url(footer.css);









body {
    background-color: rgba(212, 199, 178, 0.459);
}

h3 {
    color: green;
}
p {
    font-family: sans-serif;
}
